@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;

    -ms-overflow-style: none;
    scrollbar-width: none;

    outline: 1px red;
}

*::-webkit-scrollbar {
    display: none;
}
